{% extends "SmartCampusBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajout{% endblock %}

{% block body %}

    <h1><span class="glyphicon glyphicon-home" style="cursor: pointer;" onclick="location.href='{{ path('smartcampus_accueil') }}';"></span> Ajout d'un capteur Virtuel</h1>

    <!--formulaire d'ajout d'un capteur virtuel-->
	<div class="well container">
      <form class="form-horizontal" role="form" method="post" {{ form_enctype(form) }}>
          <div class="form-group">
              <div class="col-md-2">{{ form_label(form.name) }}</div>
              <div class="col-md-2">{{ form_widget(form.name) }}</div>
              <div class="col-md-3">{{ form_errors(form.name) }}</div>
          </div>
          <div class="form-group">
              <div class="col-md-2">{{ form_label(form.kind) }}</div>
              <div class="col-md-2">{{ form_widget(form.kind) }}</div>
              <div class="col-md-3">{{ form_errors(form.kind) }}</div>
          </div>
          <div class="form-group">
              <div class="col-md-2">{{ form_label(form.frequency) }}</div>
              <div class="col-md-2">{{ form_widget(form.frequency) }}</div>
              <div class="col-md-3">{{ form_errors(form.frequency) }}</div>
          </div>
          <div class="form-group">
              <div class="col-md-2">{{ form_label(form.script) }}</div>
              <div class="col-md-2">{{ form_widget(form.script) }}</div>
              <div class="col-md-3">{{ form_errors(form.script) }}</div>
          </div>
          <script>
            $(function () {
                $('textarea').each(function () {
                    var textarea = $(this);

                    var mode = "java";

                    var editDiv = $('<div>', {
                        position: 'absolute',
                        width: textarea.width()*5,
                        height: textarea.height()*3,
                        'id':"editor",
                        'class': "form-group" /*textarea.attr('class')*/
                    }).insertBefore(textarea);

                    /*textarea.css('visibility', 'hidden');*/

                    var editor = ace.edit(editDiv[0]);
                    editor.renderer.setShowGutter(false);
                    editor.getSession().setValue(textarea.val());
                    editor.getSession().setMode("ace/mode/" + mode);
                    editor.setTheme("ace/theme/idle_fingers");

                    // copy back to textarea on form submit...
                    textarea.closest('form').submit(function () {
                        textarea.val(editor.getSession().getValue());
                    })
                });
            });
          </script>
          <div class="form-group">
              {{ form_rest(form) }}
          </div>
          <div class="form-group">
              <input type="submit" class="btn btn-success"/>
          </div>
      </form>
    </div>

{% endblock %}
