<div class="row">
    <div class="panel panel-default">
        <table id="tablerecherche" class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Kind</th>
                    <th>Frequency</th>
                    <th>Script</th>
                </tr>
            </thead>
            
            <tbody>
                {% for cap in virAll %}
                    <tr class="lien" style="cursor: pointer;" onclick="location.href='{{ path('smartcampus_voirV', {'id': cap.id}) }}';">
                        <td>
                            {{ cap.name }}
                        </td>
                        <td>
                            {{ cap.kind }}
                        </td>
                        <td>
                            {{ cap.frequency }}
                        </td>
                        <td>
                            {{ cap.script }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<a href="{{ path('smartcampus_ajouterV') }}" class="btn btn-success bouton-accueil">
    + Capteur Virtuel
</a>
