<div class="row">
    <div class="panel panel-default">
        <div id="tabaccueil" class="panel-heading">Liste des capteurs</div>
        <table id="tablerecherche" class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Kind</th>
                    <th>Frequency</th>
                    <th>Script</th>
                    <th>Board</th>
                    <th>Endpoint</th>
                </tr>
            </thead>
            
            <tbody>
                {% for cap in virAll %}
                    <tr class="lien" style="cursor: pointer;" onclick="location.href='{{ path('smartcampus_voirV', {'id': cap.id}) }}';">
                        <td>
                            {{ cap.name }}
                        </td>
                        <td>
                            {{ cap.kind }}
                        </td>
                        <td>
                            {{ cap.frequency }}
                        </td>
                        <td>
                            {{ cap.script }}
                        </td>
                        <td>
                            ~<!--vide-->
                        </td>
                        <td>
                            ~<!--vide-->
                        </td>
                    </tr>
                {% endfor %}
                {% for cap in phyAll %}
                    <tr class="lien" style="cursor: pointer;" onclick="location.href='{{ path('smartcampus_voirP', {'id': cap.id}) }}';">
                        <td>
                            {{ cap.name }}
                        </td>
                        <td>
                            {{ cap.kind }}
                        </td>
                        <td>
                            {{ cap.frequency }}
                        </td>
                        <td>
                            ~<!--vide-->
                        </td>
                        <td>
                            {{ cap.board.name }} [{{ cap.pin }}]
                        </td>
                        <td>
                            {{ cap.endpoint.ip }}:{{ cap.endpoint.port }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
