<div class="row">
    <div class="panel panel-default">
        <table id="tablerecherche" class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Kind</th>
                    <th>Frequency</th>
                    <th>Script</th>
                    <th>Board</th>
                    <th>Endpoint</th>
                </tr>
            </thead>
            
            <tbody>
                {% for cap in virAll %}
                    <tr class="lien" style="cursor: pointer;" onclick="location.href='{{ path('smartcampus_voir', {'id': cap.id}) }}';">
                        <td>
                            {{ cap.name }}
                        </td>
                        <td>
                            {{ cap.kind }}
                        </td>
                        <td>
                            {{ cap.frequency }}
                        </td>
                        <td>
                            {{ cap.script }}
                        </td>
                        <td>
                            ~<!--vide-->
                        </td>
                        <td>
                            ~<!--vide-->
                        </td>
                    </tr>
                {% endfor %}
                {% for cap in phyAll %}
                    <tr class="lien" style="cursor: pointer;" onclick="location.href='{{ path('smartcampus_voir', {'id': cap.id}) }}';">
                        <td>
                            {{ cap.name }}
                        </td>
                        <td>
                            {{ cap.kind }}
                        </td>
                        <td>
                            {{ cap.frequency }}
                        </td>
                        <td>
                            ~<!--vide-->
                        </td>
                        <td>
                            {{ cap.board.name }} [{{ cap.pin }}]
                        </td>
                        <td>
                            {{ cap.endpoint.ip }}:{{ cap.endpoint.port }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<a href="{{ path('smartcampus_ajouterV') }}" class="btn btn-success bouton-accueil">
    <span class="glyphicon glyphicon-plus-sign"></span> Capteur Virtuel
</a>
<a href="{{ path('smartcampus_ajouterP') }}" class="btn btn-success bouton-accueil">
    <span class="glyphicon glyphicon-plus-sign"></span> Capteur Physique
</a>
<br/>
<a href="{{ path('smartcampus_sensors') }}" class="btn btn-info bouton-accueil">
    <span class="glyphicon glyphicon-eye-open"></span> Voir Json
</a>
<br/>
<a href="{{ path('smartcampus_json') }}" class="btn btn-warning bouton-accueil">
    <span class="glyphicon glyphicon-cloud-download"></span> Récupérer Json
</a>
