{% extends "SmartCampusBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Visualisation{% endblock %}

{% block body %}

    <h1>Visualisation de {{ capteur.name }}</h1>

    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-md-2">Capteur : </div>
                <div class="col-md-2">{{ capteur.name }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">Kind :</div>
                <div class="col-md-2">{{ capteur.kind }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">Frequency :</div>
                <div class="col-md-2">{{ capteur.frequency }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">Script :</div>
                <div class="col-md-2">{{ capteur.script }}</div>
            </div>
        </div>

        <a href="{{ path('smartcampus_accueil') }}" class="btn">
            Retour à l'accueil
        </a>

        <a href="{{ path('smartcampus_modifierV', {'id': capteur.id}) }}" class="btn btn-primary">
            Modifier
        </a>

        <input type="button" value="Supprimer" class="btn btn btn-danger" onclick="suppr('{{ path('smartcampus_supprimer', {'id': capteur.id}) }}');">

        <div id="supp-message" title="Suppression" style="visibility: hidden">            
          <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
            <p>Voulez-vous vraiment supprimer ce capteur ?</p>
        </div>
    </div>
	
    <!-- Boite dialogue Modification capteur -->
    {% include "SmartCampusBundle:Smart:dialogue.html.twig" %}

{% endblock %}
