{% extends "SmartCampusBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Visualisation{% endblock %}

{% block body %}

    <h1><span class="glyphicon glyphicon-home" style="cursor: pointer;" onclick="location.href='{{ path('smartcampus_accueil') }}';"></span> Visualisation de {{ capteur.name }}</h1>

    <div class="container">
        <div class="well">
            <!--parties communes a tout les capteurs-->
            {% include "SmartCampusBundle:Smart:voirC.html.twig" %}
            <div class="row">
                <div class="col-md-2">Board :</div>
                <div class="col-md-2">{{ capteur.board.name }} [{{ capteur.pin }}]</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">Endpoint :</div>
                <div class="col-md-2">{{ capteur.endpoint.ip }}:{{ capteur.endpoint.port }}</div>
            </div>
        </div>
        <div class="well">
            <!--proprietes des capteurs-->
            {% set kind = 'P' %}
            {% include "SmartCampusBundle:Smart:voirProp.html.twig" %}
        </div>

        <a href="{{ path('smartcampus_modifier', {'id': capteur.id}) }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-refresh"></span> Modifier
        </a>
        <a  onclick="suppr('{{ path('smartcampus_supprimer', {'id': capteur.id}) }}');" class="btn btn btn-danger">
            <span class="glyphicon glyphicon-minus-sign"></span> Supprimer
        </a>
        <br>
        <br>
        <a href="{{ path('smartcampus_sensor', {'name': capteur.name}) }}" class="btn btn-info">
            smartcampus/sensors/{{capteur.name}}
        </a>
        <div id="supp-message" title="Suppression" style="visibility: hidden">            
          <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
            <p>Voulez-vous vraiment supprimer cet élément ?</p>
        </div>
    </div>
	
    <!-- Boite dialogue Modification capteur -->
    {% include "SmartCampusBundle:Smart:dialogue.html.twig" %}

{% endblock %}